
.signin-box {
 padding: 20px 25px 15px;
 background:none repeat scroll 0 0 #F1F1F1;
 border:1px solid #708090;
 margin:12px 0 0;
 width:280px;
 float:right;
 margin-right:500px;
}
.signin-box .uname-label, .signin-box .passwd-label {
    -moz-user-select: none;
    display: block;
    font-weight: bold;
    margin: 0 0 0.5em;
}

.pagecontent {
 background-color: #FFFFFF;
 height:300px;
 display:block;
 width:63.5%;
 margin-top:230px
}



.button1{
	 color: #1155CC;

	}

.signin-box-details {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E5E5E5;
    
    margin: 12px 60px 0 0;
    padding: 20px 25px 15px;
    
}


.logininput{
	height: 24px;
    width: 75%;

}
.verticalLine {
    border-left:thick solid #000000;
    size:500px	
}
.divunamepwd
{
	margin:0 0 1.5em
}

a.print-preview {
    background: url("icon-print-preview.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    line-height: 20px;
    margin: -42px 0 20px;
    padding: 0 0 0 35px;
}

.a {
    color: #FCFEFF;
    text-decoration: underline;
}


div.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }
